
<IfModule mod_rewrite.c>

Header always set Access-Control-Allow-Origin *
Header always set Access-Control-Allow-Methods *

RewriteEngine on
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD|OPTIONS|POST|PROPFIND|PUT|PATCH) [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
</IfModule>